.orders {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-left: 10%;
}

.title {
  width: 10%;
  font-family: "Rubik", sans-serif;
  font-weight: 250;
  margin-top: 2%;
  margin-left: 1210px;
  text-align: right;
}
.all-orders {
  width: 100%;
  margin-top: 15px;
}
.cart-img {
  position: absolute;
  margin-top: -100px;
  margin-left: 210px;
  width: 30px;
  height: 30px;
}
.qty-circule {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 240px;
  margin-top: 35px;
  background: #ed6b4a;
  border-radius: 15px;
  color: #fff;
  font-weight: 300;
}
.qty-text {
  text-align: center;
  font-size: small;
  font-weight: 600;
}
.cart-basket {
  width: 200px;
  height: 100px;
}

.qty-circule-empty {
  background-color: #fff;
  
}
